
h1{
    position: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    text-decoration:underline;
    color: indianred;
}
.vertical {
    border-left: 6px solid blue;
    height: 400px;
    position:absolute;
    left: 50%;
  }
  label{
    font-size:20px;
    text-shadow: 2px 2px 2px;
    text-decoration-line:underline;
    }
.img{
    /*box-shadow: 10px 8px 6px red;*/
    filter:drop-shadow(10px 8px .9em red);
}